/*this is basic code*/
h1{
    background-color: red
        !important;
    color: #fff;
}
    #p2{
         background-color: red;
}
.class2 #internalp{
        background-color: gray; color: aliceblue;
}